.dash-card {
	width: 92%;
	min-width: 210px;
	position: relative;
	margin: 12px auto;
	border-radius: 6px;
	border: 1px solid #EBEBEB;
	box-shadow: 0px 3px 12px -6px #999;
	padding: 18px 12px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.dash-card.profile {
	padding: 0 0 9px 0;
	overflow: hidden;
}

.profile-image {
	width: 100%; height: 210px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 3px 12px -9px #111;
	position: relative;

}

.profile-image .logout-btn {
	background: transparent;
	position: absolute;
	top: 0; right: 0;
	outline: none; border: none;
	cursor: pointer;
	padding: 12px;
	font-size: 10px;
	background-color: rgba(0, 0, 0, 0.36);
	color: #CCC;
	border-radius: 0 0 0 3px;
	border: 1px solid transparent;
}
.profile-image .logout-btn:focus {
	opacity: 0.6;
	border: 1px solid black;
}

.profile-details {
	padding: 0 9px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.profile-details h1 {
	font-size: 18px;
	display: inline;
	padding-right: 12px;
}

.profile-details p {
	font-size: 11px;
	color: #999;
}

.settings-button {
	display: inline-block;
	background-color: transparent;
	border: 0; outline: none;
	cursor: pointer;
}
.settings-button img {
	height: 12px; width: 12px;
}


p.empty-state {
	color: #999;
	font-size: 11px;
	margin-top: 9px;
}


/*medication*/
.add-medication {
	border: 0; outline: none;
	cursor: pointer;
	margin-top: 9px;
	cursor: pointer;
	background-color: transparent;
	font-weight: bold;
	padding: 4px 24px 4px 3px;
	color: #777;
	border-radius: 0 0 0 3px;
	border-bottom: 2px solid #68AD99;
	text-align: left;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}
.splash-form form button:focus {
	/*border-bottom: 2px solid #F7FAF9;
	background-color: #fff;
	box-shadow: 0px 9px 24px -12px #DEDEDE;
	padding: 6px 24px 6px 3px;*/
	opacity: 0.4;
}

