.dash-card {
	width: 92%;
	min-width: 210px;
	position: relative;
	margin: 12px auto;
	border-radius: 6px;
	box-shadow: 0px 1px 18px -3px #999;
	padding: 18px 12px;
	border-bottom: 2px solid #68AD99;
	background-color: #FCFCFC;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.dash-card.profile {
	padding: 0 0 9px 0;
	overflow: hidden;
}

.profile-image {
	width: 100%; height: 210px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 3px 12px -9px #111;
	position: relative;

}

.profile-image .logout-btn, .showQr {
	background: transparent;
	position: absolute;
	top: 0; right: 0;
	outline: none; border: none;
	cursor: pointer;
	padding: 12px;
	font-size: 10px;
	background-color: rgba(0, 0, 0, 0.36);
	color: #CCC;
	border: 1px solid transparent;
}
.profile-image .logout-btn:focus, .showQr:focus {
	opacity: 0.6;
	border: 1px solid black;
}
.showQr{
	border-radius: 0 0 0 3px;
	right: 55px;
}

.profile-details {
	padding: 0 9px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.profile-details h1 {
	font-size: 18px;
	display: inline;
	padding-right: 12px;
}

.profile-details p {
	font-size: 11px;
	color: #999;
}

.settings-button {
	display: inline-block;
	background-color: transparent;
	border: 0; outline: none;
	cursor: pointer;
}
.settings-button img {
	height: 12px; width: 12px;
}


p.empty-state {
	color: #999;
	font-size: 11px;
	margin-top: 9px;
}


/*medication*/
.add-medication {
	border: 0; outline: none;
	cursor: pointer;
	margin-top: 9px;
	cursor: pointer;
	background-color: transparent;
	font-weight: bold;
	padding: 4px 24px 4px 3px;
	color: #777;
	border-radius: 0 0 0 3px;
	border-bottom: 2px solid #68AD99;
	text-align: left;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}

.add-medication:focus {
	opacity: 0.4;
}

.notif-item {
	display: flex;
}
.notif-item span {
	display: block;
	flex-grow: 2;
}
.actions-box {
	flex-grow: 1;
	width: 60px; height: 60px;
}
.notif-item button {
	background-color: transparent;
	border: 0; outline: none;
	cursor: pointer;padding: 6px;
	font-size: 21px;
	float: left;
	line-height: 15px;
	color: #CCC;
}
.notif-item img {
	width: 21px; 
	position: relative;
	top: 1px;
}


.lookup-form button {
	outline: none; border: none;
	cursor: pointer;
	background-color: transparent;
	font-weight: bold;
	padding: 4px 24px 4px 3px;
	color: #777;
	border-radius: 0 0 0 3px;
	border-bottom: 2px solid #68AD99;
	text-align: left;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}

.lookup-form button:focus {
	/*border-bottom: 2px solid #F7FAF9;
	background-color: #fff;
	box-shadow: 0px 9px 24px -12px #DEDEDE;
	padding: 6px 24px 6px 3px;*/
	opacity: 0.4;
}

.lookup-form input {
	display: block; width: 100%;
	margin: 3px 0 12px 0;
	padding: 3px 9px;
	height: 36px;

	outline: none; border: none;
	border-bottom: 2px solid #EBEBEB;
	border-radius: 3px;

	font-size: 18px;
	color: #756C53;

	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.lookup-form input:focus {
	border-bottom: 1px solid #F7FAF9;
	background-color: #fff;
	box-shadow: 0px 6px 24px -12px #DEDEDE;
	height: 41px;
}

