.edit-form {
	display: block;
}
.edit-form label {
	display: block;
	font-size: 11px;
	margin-top: 12px; margin-bottom: 6px;
}
.edit-form select {
	width: 100%;
	margin: 6px 0;
	height: 36px;
	display: block;
}

.edit-form textarea {
	display: block; width: 100%;
	max-width: 100%;
	margin: 3px 0 12px 0;
	padding: 3px 9px;
	height: 60px;

	outline: none; border: none;
	border-bottom: 2px solid #EBEBEB;
	border-radius: 3px;

	font-size: 18px;
	color: #756C53;

	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.edit-form textarea:focus {
	border-bottom: 1px solid #F7FAF9;
	background-color: #fff;
	box-shadow: 0px 6px 24px -12px #DEDEDE;
}