<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/ico" href="/favicon.ico?v=2" />
</head>


<template name="about">
	<div style="height:1px;"></div>
	<div class="splash-card first">
		<a href="/" class="closeModal" style="line-height:33px;left:0;text-align:center;width:100%;color:#999;">&larr;</a>
	</div>

	<div class="splash-card first">
		<div class="logo-container"></div>
	</div>

	<div class="splash-card first">
		<div class="splash-form">
			<h2>About Sanus</h2>
		</div>

		<div class="post-container">                
        		<p style="text-align: justify;">Drug-based allergic reactions affect 10% of the world's population and up to 20% of hospitalized patients. On top of that many patients, especially seniors, are prescribed conflicting drugs. With Sanus users can keep track of allergies and prescribed medications. Sanus automatically checks for drug and allergy conflicts as doctors prescribe medications. It also provides a standardized electonic medical record that doctors can review during appointments. This project was created at Hack the North 2016.</p>
		</div>
	</div>

	<div class="splash-card first">
		<div class="splash-form">
			<h2>Who are we?</h2>
		</div>

		<div style="height: 175px; width: 100%;">
				<div style="width: 50%; text-align: center; display: block; float: left;">
					<h2>Jay Patel</h2>
					<img src="/resources/images/jay.jpg" class="prof-pic">
				</div>

				<div style="width: 50%; text-align: center; float: left;">
					<h2>Dane Sisinni</h2>
					<img src="/resources/images/dane.jpg" class="prof-pic">
				</div>

		</div>

		<div style="text-align: center;">
			<p><b>2nd Year Software Engineering<br>Western University</b></p>
			<p>Aspiring engineers, innovators and entrepreneurs</p>
		</div>

	</div>

	<div class="splash-card">
		<div class="splash-form">
			<h2>Credits</h2>
		</div>

		<div>
			<ul>
				<li><b>APIs:</b> WebMD, Open Data, OpenFDA</li>
				<li><b>Reference:</b> American Academy of Allergy, Asthma & Immunology</li>
			</ul>
		</div>

	</div>

	<div style="height:1px;"></div>

</template>