<template name="medicineView">
	<div style="height:1px;"></div>
	<div class="dash-card medicineView">
		<a href="/" class="closeModal">&times;</a>
		<h1>{{medicine.name}}</h1>
		<hr />
		{{#if conflicts}}
			<h2>Conflicts</h2>
			{{#with conflicts}}
				<p>{{conflictText}}</p>
			{{/with}}
		{{/if}}
		
		<h2>Prefrences</h2>
		<p><b>Start:</b> {{startDateFormatted}}</p>
		<p><b>End:</b> {{endDateFormatted}}</p>
		<p><b>Directions &amp; Notes:</b> {{{medicine.directions}}}</p>
		
		<hr />

		<button name="deleteMedicine" class="add-to-medicines" id="deleteMedicine">
			Delete
		</button>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/med/{{medicine._id}}/edit" class="add-to-medicines" id="editMedicine">
			Edit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</a>
	</div>
	<div style="height:1px;"></div>
</template>