<template name="medicationSearch">
	<div class="medication-search">
		<button class="closeModal">&times;</button>
		<h1>Search for a medicine</h1>
		
		<input type="text" name="searchMedications" id="searchMedications" placeholder="Ex. Tylenol" />
		<img src="/resources/images/search.png" class="search-btn" />
		<span>Search results:</span>


		{{#if loading}}
			<div class="loadingDiv" style="display:block;"></div>
		{{/if}}
		
		<ul>
			{{#each searchResults}}
				{{> searchResult}}
			{{/each}}
		</ul>
	</div>
</template>

<template name="searchResult">
	<li>
		<a class="search-result-item" href="/search-result">{{val}}</a>
	</li>
</template>