<template name="medicineView">
	<div style="height:1px;"></div>
	<div class="dash-card medicineView">
		<h1>Tylenol</h1>
		<hr />
		<h2>Conflicts</h2>
		<p>Conflicts with x, y and z. Allergic reactions to those with x, y and z.</p>
		
		<h2>Prefrences</h2>
		<p><b>Start:</b> September 13th, 2016</p>
		<p><b>End:</b> October 16th, 2016</p>
		<p><b>Directions &amp; Notes:</b> Take it twice a day when swaggin' ~</p>
		
		<p>...other details...</p>
		<h2>Warning</h2>
		<p>Default consumption warning.</p>
		
		<hr />

		<button name="addToMedicines" class="add-to-medicines" id="addToMedicines">
			Delete
		</button>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/med/id/edit" class="add-to-medicines" id="editMedicine">
			Edit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</a>
	</div>
	<div style="height:1px;"></div>
</template>