<template name="patientDash">	
	<div style="height:1px;"></div>
	<div class="qrOverlay">
		<span>&times;</span>
		<h2>Patient code</h2>
		<img src="https://api.qrserver.com/v1/create-qr-code/?size=96x96&data={{currentUser.profile.userNumber}}" />
		<input type="text" class="selectOnClick" value="{{currentUser.profile.userNumber}}" readonly />
	</div>
	<div class="dash-card profile">
		<div class="profile-image" style="background-image:url({{profileImageUrl}})">
			<button class="showQr">Patient Code</button>
			<button class="logout-btn">Logout</button>
		</div>
		<div class="profile-details">
			<h1>{{currentUser.profile.name}}</h1><button class="settings-button"><img src="/resources/images/settings-ico.png" /></button>
			<p>{{medicineCount}} active medications<br />Registered {{registrationDate}}</p>
		</div>
	</div>
	<div class="dash-card notifications">
		<h2>Notifications</h2>
		{{#if notifications}}
			<ul>
				{{#each notifications}}
					{{> notification}}
				{{/each}}
			</ul>
		{{else}}
			<p class="empty-state">No notifications.</p>
		{{/if}}
	</div>
	<div class="dash-card medications">
		<h2>Medications</h2>
		{{#if medications}}
			<ul>
				{{#each medications}}
					<li>
						<a href="/med/{{this._id}}">{{this.name}}</a>
						<button class="remove-med" data-id="{{this._id}}">&times;</button>
					</li>
				{{/each}}
			</ul>
		{{else}}
			<p class="empty-state">No medications.</p>
		{{/if}}
		<button class="add-medication">+ add</button>
	</div>
</template>

<template name="notification">
	<li class="notif-item">
		<span>
			{{{notificationText}}}
		</span>
		{{#if notificationActions}}
			<div class="actions-box">
				<button class="accept"><img src="/resources/images/checkmark.png" /></button>
				{{#if isRecommendation}}
					<button class="reject">&times;</button>
				{{/if}}
			</div>
		{{/if}}
	</li>
</template>