<template name="tutorials">
	<div style="height:1px;"></div>
	<div class="splash-card first">
		<a href="/" class="closeModal" style="line-height:33px;left:0;text-align:center;width:100%;color:#999;">&larr;</a>
	</div>

	<div class="splash-card first">
		<div class="logo-container"></div>
	</div>

	<div class="splash-card first">
		<div class="splash-form">
			<h2>Sanus Tutorial</h2>
		</div>
		<div class="post-container">  
			<ol>
				<li>1. Create an account on the registration page.</li>
				<li>2. Add all allergies.</li>
				<li>3. Search for and add perscribed medications.</li>
				<li>4. When you go to the doctor or the pharamcist, share your Sanus profile with them so they can better serve you.</li>
			</ol>              
		</div>
	</div>
</template>